<!DOCTYPE html>
<html>
<%- include public/head_link.ejs%>

<body>
  <ion-app>
    <ion-split-pane>
      <%- include public/aslide_left.ejs%>
      <ion-page class="ion-page" main>
        <ion-header>
          <ion-toolbar style="text-align:center">
            <ion-title color="danger">Upload Articles Page</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-card padding style="width:80%;height:90%;left: 10%;right: 20%;">
            <ion-card-content>
              <form action="/article/addData" method="post" enctype="multipart/form-data">
                <ion-list>
                  <ion-item>
                    <ion-label slot="start"> title: </ion-label>
                    <ion-input type="text" name="title" clearInput> </ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label slot="start"> author: </ion-label>
                    <ion-input type="text" name="by"> </ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label> likes: </ion-label>
                    <ion-input type="number" name="likes"> </ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label> level: </ion-label>
                    <ion-input type="number" name="level"> </ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label slot="start"> picture:</ion-label>
                    <ion-input type="file" name="pic"> </ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label slot="start"> content: </ion-label>
                    <ion-textarea rows="16" cols="20" name="content"></ion-textarea>
                  </ion-item>
                </ion-list>
                <ion-toolbar slot="bottom">
                  <ion-button color="danger" href="" slot="start"> Save Draft </ion-button>
                  <ion-button color="primary" type="submit" slot="end"> Submit </ion-button>
                </ion-toolbar>
              </form>
            </ion-card-content>
          </ion-card>
        </ion-content>
      </ion-page>
    </ion-split-pane>
  </ion-app>
</body>


</html>