
<head>
        <meta charset="utf-8">
        <title>Data Management System</title>
        <script src="https://unpkg.com/@ionic/core@latest/dist/ionic.js"></script>
        <link href="https://unpkg.com/@ionic/core@latest/css/ionic.bundle.css" rel="stylesheet">
    </head>
    